---
layout: page
---

<div class="container-fluid">

	<div class="row justify-content-center mt-3">
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3CsRaar" target="_blank">
					<img class="card-img-top" src="recommended/images/amazonWebServicesInAction.jpg" alt="amazon Web Services In Action">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aIa1e9" target="_blank">
					<img class="card-img-top" src="recommended/images/designPatterns.jpg" alt="design Patterns">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40W00a8" target="_blank">
					<img class="card-img-top" src="recommended/images/largeLanguageModels.jpg" alt="large Language Models">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40GaUPF" target="_blank">
					<img class="card-img-top" src="recommended/images/buildALargeLanguageModel.jpg" alt="build A Large Language Model">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3QjRT13" target="_blank">
					<img class="card-img-top" src="recommended/images/fundamentalsOfDataEngineering.jpg" alt="fundamentals Of Data Engineering">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3El3k5N" target="_blank">
					<img class="card-img-top" src="recommended/images/systemDesignOnAWS.jpg" alt="system Design On AWS">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aFDlSt" target="_blank">
					<img class="card-img-top" src="recommended/images/lLMEngineerHandbook.jpg" alt="LLM Engineer Handbook">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WIREQt" target="_blank">
					<img class="card-img-top" src="recommended/images/aIEngineering.jpg" alt="AI Engineering">
				</a>
			</div>
		</div>	
	</div>

	<div class="row justify-content-center mt-3">
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aHJZIb" target="_blank">
					<img class="card-img-top" src="recommended/images/cleanCode.jpg" alt="Clean Code">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40VF5E5" target="_blank">
					<img class="card-img-top" src="recommended/images/designingDataIntensiveApplications.jpg" alt="Data Intensive Applications">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4gjHBIB" target="_blank">
					<img class="card-img-top" src="recommended/images/genius.jpg" alt="genius">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3El0eib" target="_blank">
					<img class="card-img-top" src="recommended/images/thePragmaticProgrammer.jpg" alt="the Pragmatic Programmer">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WL3Znh" target="_blank">
					<img class="card-img-top" src="recommended/images/fluentPython.jpg" alt="fluent Python">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WJpgxH" target="_blank">
					<img class="card-img-top" src="recommended/images/softwareDesignPrinciples.jpg" alt="software Design Principles">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3EgAzHb" target="_blank">
					<img class="card-img-top" src="recommended/images/buildingMicroservices.jpg" alt="building Microservices">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4hB5s7I" target="_blank">
					<img class="card-img-top" src="recommended/images/topJavaChallenges.jpg" alt="top Java Challenges">
				</a>
			</div>
		</div>		
	</div>

<!--	
	<div class="row justify-content-center mt-3">
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card border-0" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aKyYpa" target="_blank">
					<img class="card-img-top" src="recommended/images/miniPCAMDRyzen.jpg" alt="mini PC AMD Ryzen">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card border-0" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40YTnDO" target="_blank">
					<img class="card-img-top" src="recommended/images/hPLaptop17-3Inch.jpg" alt="Data Intensive Applications">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4gjHBIB" target="_blank">
					<img class="card-img-top" src="recommended/images/.jpg" alt="genius">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3El0eib" target="_blank">
					<img class="card-img-top" src="recommended/images/.jpg" alt="the Pragmatic Programmer">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WL3Znh" target="_blank">
					<img class="card-img-top" src="recommended/images/.jpg" alt="fluent Python">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WJpgxH" target="_blank">
					<img class="card-img-top" src="recommended/images/.jpg" alt="software Design Principles">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3EgAzHb" target="_blank">
					<img class="card-img-top" src="recommended/images/.jpg" alt="building Microservices">
				</a>
			</div>
		</div>
		<div class="col ml-auto" style="margin: 6px 0px 6px 0px;">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4hB5s7I" target="_blank">
					<img class="card-img-top" src="recommended/images/.jpg" alt="top Java Challenges">
				</a>
			</div>
		</div>		
	</div>
	->
</div>





 
