---
layout: page
---

<div class="container-fluid">

	<div class="row justify-content-center mt-3">
	
	    <div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4loZGt5" target="_blank">
					<img class="card-img-top" src="recommended/images/AIAgents.jpg" alt="Investing For Programmers">
				</a>
			</div>
		</div>
	    <div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/409oU4Q" target="_blank">
					<img class="card-img-top" src="recommended/images/investingForProgrammers.jpg" alt="Investing For Programmers">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4loYDcD" target="_blank">
					<img class="card-img-top" src="recommended/images/galaxyTabA11.jpg" alt="galaxy Tab A11">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3CsRaar" target="_blank">
					<img class="card-img-top" src="recommended/images/amazonWebServicesInAction.jpg" alt="amazon Web Services In Action">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4rvvSfE" target="_blank">
					<img class="card-img-top" src="recommended/images/effectiveJava.jpg" alt="amazon Web Services In Action">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aIa1e9" target="_blank">
					<img class="card-img-top" src="recommended/images/designPatterns.jpg" alt="design Patterns">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4dj6ZQN" target="_blank">
					<img class="card-img-top" src="recommended/images/marshallHeadphones.jpg" alt="galaxy Tab A11">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40W00a8" target="_blank">
					<img class="card-img-top" src="recommended/images/largeLanguageModels.jpg" alt="large Language Models">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4sgCdNd" target="_blank">
					<img class="card-img-top" src="recommended/images/codeInterview.jpg" alt="large Language Models">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40GaUPF" target="_blank">
					<img class="card-img-top" src="recommended/images/buildALargeLanguageModel.jpg" alt="build A Large Language Model">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3QjRT13" target="_blank">
					<img class="card-img-top" src="recommended/images/fundamentalsOfDataEngineering.jpg" alt="fundamentals Of Data Engineering">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3CWSEd7" target="_blank">
					<img class="card-img-top" src="recommended/images/lgUltraWide.jpg" alt="LG Ultra Wide">
				</a>
			</div>
		</div>

		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3El3k5N" target="_blank">
					<img class="card-img-top" src="recommended/images/systemDesignOnAWS.jpg" alt="system Design On AWS">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aFDlSt" target="_blank">
					<img class="card-img-top" src="recommended/images/lLMEngineerHandbook.jpg" alt="LLM Engineer Handbook">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WIREQt" target="_blank">
					<img class="card-img-top" src="recommended/images/aIEngineering.jpg" alt="AI Engineering">
				</a>
			</div>
		</div>	
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aHJZIb" target="_blank">
					<img class="card-img-top" src="recommended/images/cleanCode.jpg" alt="Clean Code">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/435NAhi" target="_blank">
					<img class="card-img-top" src="recommended/images/MacBookAirM3.jpg" alt="MacBook Air M3">
				</a>
			</div>
		</div>		
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40VF5E5" target="_blank">
					<img class="card-img-top" src="recommended/images/designingDataIntensiveApplications.jpg" alt="Data Intensive Applications">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4gjHBIB" target="_blank">
					<img class="card-img-top" src="recommended/images/genius.jpg" alt="genius">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3El0eib" target="_blank">
					<img class="card-img-top" src="recommended/images/thePragmaticProgrammer.jpg" alt="the Pragmatic Programmer">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3WL3Znh" target="_blank">
					<img class="card-img-top" src="recommended/images/fluentPython.jpg" alt="fluent Python">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/40YTnDO" target="_blank">
					<img class="card-img-top" src="recommended/images/hPLaptop17-3Inch.jpg" alt="HP Laptop">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3EgAzHb" target="_blank">
					<img class="card-img-top" src="recommended/images/buildingMicroservices.jpg" alt="building Microservices">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4hB5s7I" target="_blank">
					<img class="card-img-top" src="recommended/images/topJavaChallenges.jpg" alt="top Java Challenges">
				</a>
			</div>
		</div>	
		
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4aKyYpa" target="_blank">
					<img class="card-img-center" src="recommended/images/miniPCAMDRyzen.jpg" alt="mini PC AMD Ryzen">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4hRJUnG" target="_blank">
					<img class="card-img-top" src="recommended/images/PsychologyOfMoney.jpg" alt="psychology Of Money">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4k2IOXR" target="_blank">
					<img class="card-img-top" src="recommended/images/introductionToAlgorithms.jpg" alt="Introduction To Algorithms">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/430shO2" target="_blank">
					<img class="card-img-top" src="recommended/images/machineLearningScikit.jpg" alt="Machine Learning Scikit">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4gNpjzE" target="_blank">
					<img class="card-img-top" src="recommended/images/learningGo.jpg" alt="Learning Go">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/415TsEE" target="_blank">
					<img class="card-img-top" src="recommended/images/720DGree.jpg" alt="720 DGree">
				</a>
			</div>
		</div>
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/4gYh8AO" target="_blank">
					<img class="card-img-top" src="recommended/images/ABUSSmiley.jpg" alt="ABUS Smiley">
				</a>
			</div>
		</div>		
		<div class="col ml-auto img-margin">
			<div class="card border-0 img-center" style="width: 8rem; height: 10rem;">
				<a href="https://amzn.to/3F10p2v" target="_blank">
					<img class="card-img-top" src="recommended/images/designingAPIsWithSwaggerAndOpenAPI.jpg" alt="designing APIs With Swagger And OpenAPI">
				</a>
			</div>
		</div>
	</div>

</div>

<br/>



 
